*{
    overflow-x: hidden;
    margin: 0;
}
/*
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/
html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
     
}
.kabarak-logo{
    height: 80px;
    width: 80px;
}

.header{
    width: 100%;
    height: 230px;
    background: #000;
    color: #fff;
    text-align: center;
}
.header>a>img{
    opacity: 0.5;
    border: none;
    padding: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    transform: translateX(350px);
    transition: all ease-in-out 0.5s;
}
.header>a>img:hover{
    opacity: 1;
}
.header>h1{
    font-weight: 800;
    margin: 10px;
}
.header>p>a{
    text-decoration: none;
    color: rgb(14, 107, 114);
}
.header>p{
    width: 80%;
    transform: translateX(15%);
}
.finbtn{
    margin: 10px;
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid #fff;
    color: #fff;
    background: rgb(14,107,114);
    border-radius: 25px;
    cursor: pointer;
}
.finbtn:hover{
    background: rgb(18, 123, 131);
}

nav{
    width: 100%;
    height: 100px;
    
    margin-bottom:10px ;
    background: transparent;
    position: absolute;
    /*border: 1px solid #333;*/
    overflow-y: hidden;
}

nav>ul{
    margin: 40px;
    font-family: 'Poppins', sans-serif;
}
nav>ul>button{
    display: inline-block;
    color: #fff;
    margin-right: 20px;
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #333;
    background: transparent;
    border-radius: 25px;
    cursor: pointer;
    transition: ease-in-out 600ms;
}


nav>ul>li>a{
    text-decoration: none;
    color: #fff;
    

}
nav>ul>li>a:hover{
    color: rgb(14, 107, 114);
}

/*This section controls the height of your page*/
.transition-fade{
    opacity: 1;
    transition: ease-in-out 860ms;
    transform: translateX(0);
    transform-origin: left;
    height: 1200px;
    overflow-y: hidden;
    width: 100%;
    border: none;
}
.transition-fade>h1{
    font-family: 'Poppins', sans-serif;
}

html.is-animating .transition-fade{
    opacity: 1;
    transform: translateX(100%);
}
html.is-leaving .transition-fade{
    opacity: 0;
    transform: translateX(100%);
}

.body{
    width: 60%;
    color: #333;
    transform: translateX(30%);
    margin-top: 20px;
}
.body>h2{
    font-weight: 900;
}

.social{
    width: 60%;
    color: #333;
    transform: translateX(30%);
    margin-top: 20px;
}
.social>h2{
    font-weight: 900;
}

.social>ul>li{
    margin: 20px;
    font-size: 20px;
    font-weight: 600;
}
.social>ul>li>a{
     text-decoration: none;
     color: #333;
}
.image{
    width: 800px;
    height: 500px;
    overflow-y: hidden;
    margin: 20px;
    background-image: url('../github.png');
    background-repeat: no-repeat;
    margin-bottom: 40px;
}

.skills,.projects{
    width: 60%;
    color: #333;
    transform: translateX(30%);
    margin-top: 20px;
}

.head{
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
}
.skills>ul>li{
    padding: 10px 20px;
    font-size: 18px;
}
.skills>ul>li>i{
    color: rgb(14, 107, 114);
    font-size: 25px;
}


.projects>h3{
    font-weight: 900;
    margin: 20px;
}
.bodyProj>p>a{
    font-weight: 500;
    text-decoration: none;
    color: rgb(14, 107, 114);
    margin: 20px;
}

.bodyProj{
    margin: 20px;
}

.education{
    width: 60%;
    color: #333;
    transform: translateX(30%);
    margin-top: 20px;
    
}
.education>h2{
    font-weight: 900;
}
.education>.cert>h2,h3,svg{
    margin-left: 40px;
}

.cert{
    border: none;
    border-left: 8px solid rgb(14, 107, 114);
}

.about{
    width: 60%;
    color: #333;
    transform: translateX(30%);
    margin-top: 20px;
    
}
.about>h2{
    font-weight: 900;
    margin: 30px;
    font-size: 30px;
    border-bottom: 1px solid #ccc;
    padding: 10px 20px;
}

.about>h3{
    
    margin: 30px;
    margin-left: 40px;
    color: rgb(65, 65, 65);
    padding: 10px 20px;
}
.about>ul{
    margin-left: 40px;
}

.about>p{
    margin-left: 30px;
    padding: 10px 20px;
}

.blockExp>ul>li{
    margin-top: 10px;
}

.blockExp{
    border: none;
    border-left: 8px solid rgb(18, 123, 131);
}
.blockExp>h3>i{
    color: rgb(61, 206, 199);
}

.btndown{
    width: 60%;
    height: 60px;
    padding: 10px 20px;
    overflow-y: hidden;
    border-bottom: 1px solid rgb(14, 107, 114);
    
    transform: translateX(0);
    
    cursor: pointer;
    margin: 50px;
    margin-left: 150px;
}
.btndown>h2:hover{
   color: rgb(18, 123, 131);
}

#closebtn,#closebtnSec2{
    width: 18px;
    height: 18px;
    padding: 5px;
    overflow-y: hidden;
    border: 1px solid #333;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
   
}

#two>a{
    margin: 30px;
    margin-left: 40px;
    text-decoration: none;
    font-weight: 500;
    font-size: 25px;
    color: rgb(14, 107, 114);
}

/*Smaller screens*/

@media(max-width:800px){
    .header{
        width: 100%;
        height: 500px;
        
    }
    .header>a>img{
        opacity: 0.7;
        border: none;
        padding: 10px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: absolute;
        transform: translateX(110px);
        transition: all ease-in-out 0.5s;
    }
    .header>a>img:hover{
        opacity: 1;
    }
    .header>h1{
        font-weight: 800;
        margin: 10px;
    }
    .header>p>a{
        text-decoration: none;
        color: rgb(14, 107, 114);
    }
    .header>p{
        width: 80%;
        font-size: 18px;
        transform: translateX(15%);
        word-wrap: break-word;
    }
    .finbtn{
        margin: 10px;
        padding: 10px 20px;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: 700;
        border: 1px solid #fff;
        color: #fff;
        background: rgb(14,107,114);
        border-radius: 25px;
        cursor: pointer;
    }
    .finbtn:hover{
        background: rgb(18, 123, 131);
    }
    
    nav{
        width: 100%;
        height: 400px;
        
        margin-bottom:10px ;
        background: transparent;
        position: absolute;
        /*border: 1px solid #333;*/
        overflow-y: hidden;
    }
    
    nav>ul{
        margin: 40px;
        border: 1px solid #333;
        border-radius: 25px;
        font-family: 'Poppins', sans-serif;
    }
    nav>ul>li{
        display: block;
        color: #fff;
        margin-right: 20px;
        padding: 10px 20px;
        border: none;
        border-radius: 0px;
        cursor: pointer;
        transition: ease-in-out 600ms;
    }

    .btndown{
        width: 80%;
        height: 60px;
        padding: 10px 20px;
        overflow-y: hidden;
        border-bottom: 1px solid rgb(14, 107, 114);
        
        transform: translateX(0);
        
        cursor: pointer;
        margin: 20px;
        margin-left: 30px;
    }
    .btndown>h2{
        word-wrap: break-word;
        font-size: 18px;
    }

    main{
        height: 1200px;
    }
   
    
}